In [35]:
import requests # framework de requisição de API
import pandas as pd # framework para criação e manipulação de Dataframes
from io import StringIO # conversor de arquivos text para csv
import time # framework para criar intervalos

In [36]:
api = 'FGO0YEX3QWG8VK3K' # chave api/api key
acao = 'ABEV3' # Ação que os dados serão coletados
tabela_abev = pd.DataFrame()

# API
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={acao}.SAO&apikey={api}&datatype=csv&datatype=csv'

# Requisição 
r = requests.get(url) 

# Conversão de arquivo text para csv
tabela_abev = pd.read_csv(StringIO(r.text))    

display(tabela_abev)

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2024-10-10,13.41,13.41,12.95,13.11,13.1100,104506500,0.0
1,2024-10-04,12.94,13.85,12.90,13.28,13.2800,229654900,0.0
2,2024-09-27,12.70,12.99,12.65,12.92,12.9200,117332600,0.0
3,2024-09-20,12.76,13.14,12.73,12.76,12.7600,159857100,0.0
4,2024-09-13,12.99,13.32,12.72,12.73,12.7300,140677000,0.0
...,...,...,...,...,...,...,...,...
588,2013-06-21,77.20,79.74,75.06,77.81,10.5380,1365200,0.0
589,2013-06-14,78.00,79.56,75.69,76.70,10.3877,1025000,0.0
590,2013-06-07,82.00,82.60,77.97,78.00,10.5638,1225600,0.0
591,2013-05-31,83.84,85.57,79.77,82.05,11.1123,1224600,0.0
592,2013-05-24,86.02,86.77,83.06,83.85,11.3561,934500,0.0

In [37]:
abev = tabela_abev.rename(columns={'timestamp': 'data', 'open': 'abertura', 'high' : 'valor_maximo', 'low' : 'valor_minimo', 'close' : 'fechamento', 'adjusted close' : 'fechamento_ajustado', 'volume' : 'volume', 'dividend amount' : 'dividendos'})
display(abev)

,data,abertura,valor_maximo,valor_minimo,fechamento,fechamento_ajustado,volume,dividendos
0,2024-10-10,13.41,13.41,12.95,13.11,13.1100,104506500,0.0
1,2024-10-04,12.94,13.85,12.90,13.28,13.2800,229654900,0.0
2,2024-09-27,12.70,12.99,12.65,12.92,12.9200,117332600,0.0
3,2024-09-20,12.76,13.14,12.73,12.76,12.7600,159857100,0.0
4,2024-09-13,12.99,13.32,12.72,12.73,12.7300,140677000,0.0
...,...,...,...,...,...,...,...,...
588,2013-06-21,77.20,79.74,75.06,77.81,10.5380,1365200,0.0
589,2013-06-14,78.00,79.56,75.69,76.70,10.3877,1025000,0.0
590,2013-06-07,82.00,82.60,77.97,78.00,10.5638,1225600,0.0
591,2013-05-31,83.84,85.57,79.77,82.05,11.1123,1224600,0.0
592,2013-05-24,86.02,86.77,83.06,83.85,11.3561,934500,0.0

In [38]:
api = 'FGO0YEX3QWG8VK3K' # chave api/api key
acao = 'USIM3' # Ação que os dados serão coletados
tabela_usim = pd.DataFrame()

# API
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={acao}.SAO&apikey={api}&datatype=csv&datatype=csv'

# Requisição 
r = requests.get(url) 

# Conversão de arquivo text para csv
tabela_usim = pd.read_csv(StringIO(r.text))    

display(tabela_usim)

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2024-10-10,6.09,6.32,5.83,6.07,6.0700,1803100,0.0
1,2024-10-04,6.06,6.20,5.90,6.09,6.0900,1580400,0.0
2,2024-09-27,5.65,6.17,5.37,6.01,6.0100,3297000,0.0
3,2024-09-20,6.10,6.28,5.67,5.75,5.7500,1523600,0.0
4,2024-09-13,5.94,6.06,5.74,6.06,6.0600,1867000,0.0
...,...,...,...,...,...,...,...,...
1027,2005-02-11,52.50,55.40,52.48,55.30,5.9198,31,0.0
1028,2005-02-04,49.00,52.50,49.00,52.50,5.6201,79,0.0
1029,2005-01-28,48.40,50.00,47.01,48.50,5.1919,209,0.0
1030,2005-01-21,48.70,49.00,45.50,48.50,5.1919,32,0.0
1031,2005-01-14,44.77,48.99,43.60,48.50,5.1919,182,0.0

In [39]:
usim = tabela_usim.rename(columns={'timestamp': 'data', 'open': 'abertura', 'high' : 'valor_maximo', 'low' : 'valor_minimo', 'close' : 'fechamento', 'adjusted close' : 'fechamento_ajustado', 'volume' : 'volume', 'dividend amount' : 'dividendos'})
display(usim)

,data,abertura,valor_maximo,valor_minimo,fechamento,fechamento_ajustado,volume,dividendos
0,2024-10-10,6.09,6.32,5.83,6.07,6.0700,1803100,0.0
1,2024-10-04,6.06,6.20,5.90,6.09,6.0900,1580400,0.0
2,2024-09-27,5.65,6.17,5.37,6.01,6.0100,3297000,0.0
3,2024-09-20,6.10,6.28,5.67,5.75,5.7500,1523600,0.0
4,2024-09-13,5.94,6.06,5.74,6.06,6.0600,1867000,0.0
...,...,...,...,...,...,...,...,...
1027,2005-02-11,52.50,55.40,52.48,55.30,5.9198,31,0.0
1028,2005-02-04,49.00,52.50,49.00,52.50,5.6201,79,0.0
1029,2005-01-28,48.40,50.00,47.01,48.50,5.1919,209,0.0
1030,2005-01-21,48.70,49.00,45.50,48.50,5.1919,32,0.0
1031,2005-01-14,44.77,48.99,43.60,48.50,5.1919,182,0.0

In [40]:
display(abev)
display(usim)

,data,abertura,valor_maximo,valor_minimo,fechamento,fechamento_ajustado,volume,dividendos
0,2024-10-10,13.41,13.41,12.95,13.11,13.1100,104506500,0.0
1,2024-10-04,12.94,13.85,12.90,13.28,13.2800,229654900,0.0
2,2024-09-27,12.70,12.99,12.65,12.92,12.9200,117332600,0.0
3,2024-09-20,12.76,13.14,12.73,12.76,12.7600,159857100,0.0
4,2024-09-13,12.99,13.32,12.72,12.73,12.7300,140677000,0.0
...,...,...,...,...,...,...,...,...
588,2013-06-21,77.20,79.74,75.06,77.81,10.5380,1365200,0.0
589,2013-06-14,78.00,79.56,75.69,76.70,10.3877,1025000,0.0
590,2013-06-07,82.00,82.60,77.97,78.00,10.5638,1225600,0.0
591,2013-05-31,83.84,85.57,79.77,82.05,11.1123,1224600,0.0
592,2013-05-24,86.02,86.77,83.06,83.85,11.3561,934500,0.0

,data,abertura,valor_maximo,valor_minimo,fechamento,fechamento_ajustado,volume,dividendos
0,2024-10-10,6.09,6.32,5.83,6.07,6.0700,1803100,0.0
1,2024-10-04,6.06,6.20,5.90,6.09,6.0900,1580400,0.0
2,2024-09-27,5.65,6.17,5.37,6.01,6.0100,3297000,0.0
3,2024-09-20,6.10,6.28,5.67,5.75,5.7500,1523600,0.0
4,2024-09-13,5.94,6.06,5.74,6.06,6.0600,1867000,0.0
...,...,...,...,...,...,...,...,...
1027,2005-02-11,52.50,55.40,52.48,55.30,5.9198,31,0.0
1028,2005-02-04,49.00,52.50,49.00,52.50,5.6201,79,0.0
1029,2005-01-28,48.40,50.00,47.01,48.50,5.1919,209,0.0
1030,2005-01-21,48.70,49.00,45.50,48.50,5.1919,32,0.0
1031,2005-01-14,44.77,48.99,43.60,48.50,5.1919,182,0.0

In [45]:
api = 'FGO0YEX3QWG8VK3K' # chave api/api key
acao = 'PETR3' # Ação que os dados serão coletados
tabela_petr = pd.DataFrame()

# API
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={acao}.SAO&apikey={api}&datatype=csv&datatype=csv'

# Requisição 
r = requests.get(url) 

# Conversão de arquivo text para csv
tabela_petr = pd.read_csv(StringIO(r.text))    

# Renomeando as colunas
petr = tabela_petr.rename(columns={'timestamp': 'data', 'open': 'abertura', 'high' : 'valor_maximo', 'low' : 'valor_minimo', 'close' : 'fechamento', 'adjusted close' : 'fechamento_ajustado', 'volume' : 'volume', 'dividend amount' : 'dividendos'})

display(petr)

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2024-10-10,41.60,42.0600,40.6700,41.5100,41.5100,27159800,0.0
1,2024-10-04,39.64,41.5800,38.9600,41.3600,41.3600,40816800,0.0
2,2024-09-27,39.73,41.2300,39.3300,39.5200,39.5200,54053800,0.0
3,2024-09-20,40.80,41.3100,39.4600,39.7000,39.7000,52388400,0.0
4,2024-09-13,41.32,42.0200,40.2400,40.3700,40.3700,46506500,0.0
...,...,...,...,...,...,...,...,...
1034,2005-02-11,118.40,118.4000,115.9104,115.9104,3.4845,188723200,0.0
1035,2005-02-04,105.50,110.9000,105.5000,110.9000,3.3338,199936000,0.0
1036,2005-01-28,104.50,106.4104,104.5000,104.7096,3.1477,93632000,0.0
1037,2005-01-21,104.10,104.6600,102.6000,103.2096,3.1027,209075200,0.0
1038,2005-01-14,102.70,105.2200,102.7000,105.2200,3.1631,227776000,0.0

In [50]:
import requests # framework de requisição de API
import pandas as pd # framework para criação e manipulação de Dataframes
from io import StringIO # conversor de arquivos text para csv

# -------------------------------------------------------------------------------------------------------------------------------------------------------------
acao = 'VALE3' # Insira a AÇÃO que deseja obter os dados semanais
# -------------------------------------------------------------------------------------------------------------------------------------------------------------
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={acao}.SAO&apikey=FGO0YEX3QWG8VK3K&datatype=csv&datatype=csv'
tabela = pd.DataFrame()
r = requests.get(url) 
tabela = pd.read_csv(StringIO(r.text))    
tabela_traduzida = tabela.rename(columns={'timestamp': 'data', 'open': 'abertura', 'high' : 'valor_maximo', 'low' : 'valor_minimo', 'close' : 'fechamento'
                                               , 'adjusted close' : 'fechamento_ajustado', 'volume' : 'volume', 'dividend amount' : 'dividendos'})

# -------------------------------------------------------------------------------------------------------------------------------------------------------------
display(tabela_traduzida)

,data,abertura,valor_maximo,valor_minimo,fechamento,fechamento_ajustado,volume,dividendos
0,2024-10-10,62.90,63.74,60.25,61.25,61.2500,100397300,0.0
1,2024-10-04,65.32,65.35,62.30,62.48,62.4800,110326100,0.0
2,2024-09-27,57.09,65.04,56.60,63.96,63.9600,183319700,0.0
3,2024-09-20,58.43,58.85,56.95,57.35,57.3500,87205400,0.0
4,2024-09-13,57.11,59.00,55.93,58.50,58.5000,86352300,0.0
...,...,...,...,...,...,...,...,...
1030,2005-02-11,77.91,77.91,75.30,75.80,7.0136,10998400,0.0
1031,2005-02-04,80.00,80.68,76.00,77.69,7.1885,13844800,0.0
1032,2005-01-28,80.01,83.06,78.80,79.30,7.3375,14217600,0.0
1033,2005-01-21,78.60,82.00,74.66,80.10,7.4115,27516800,0.0
1034,2005-01-14,72.50,79.30,69.79,78.50,7.2634,27483200,0.0